__pycache__/
*.py[cod]
*.egg-info/
dist_nuitka/
dist_nuitka_win/
.env
.venv
release/
.bytemark/
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/
.coverage
docs.txt
*.AppImage
*.exe
release-trigger.txt
tests/
